  /* select by element tab */
h1 {
    color: red;
 }   

 h2 {
    color: blue;
 }

 header{
    color:green;
 }  

 header>hi{
    color: yellow;
}
    /*select by ID */
#service {
    background-color:aqua;
}
/*select by class name*/
.card .card2 {
    color: lime;
}

.card {
    color: purple;
    
}

.container .card h1{
    color:yellow;
}

#html {
 color: orange;
 
}

* {
    color: firebrick;
}